// Specific CSS for your home-page
em {
  text-align: center;
}

.page-link {
  width: 10rem;
  height: 4rem;
  margin-bottom: 2rem;
}

.icon-margin-right {
  margin-left: 1rem; /* adjust as needed */
  // width: 40px;
}

.icon-margin-left {
  margin-right: 1rem; /* adjust as needed */
  // width: 40px;
}

