// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";

// #mymovies {
//   display: flex;
//   h5 {
//     color: red;
// }
// }

// #movie-cards {
//   display: flex;
// }

h1 {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 40px;
}
